<nav class="nav navbar-default">
    <li class="nav-item">
        <a routerLink="/todolist" class="nav-link">To Do List</a>
    </li>
    <li class="nav-item">
        <a routerLink="/completedlist" class="nav-link">Completed Items</a></li>
    <li class="nav-item">
        <a routerLink="/addtodo" class="nav-link">Add to do</a>
    </li>
    <li class="nav-item">
        <a routerLink="/faketodo" class="nav-link">Fake To Do app</a>
    </li>
    <li class="nav-item"><button class="btn btn-danger" (click)="deleteAll()">Delete All</button></li>
</nav>