    <!-- IF data is not being fetched, and there is no error yet, a loading bar will display -->
    <p *ngIf="isFetching && !error">

        <mat-progress-bar style="height:50px; width:100%;margin-top:100px;" mode="indeterminate"></mat-progress-bar>

    </p>

    <!-- in event of error, the error message will display on screen -->
    <div *ngIf="error"class="alert alert-danger">
        <h1>An error occurred.</h1>
        <p>{{error}}</p>
    </div>
    <!-- if there is no error, then it is presumed the connection to the db was made -->
    <!-- the app-to-do-item will show as intended, using bootstrap style -->
    <div *ngIf="!isFetching && !error">
    <app-to-do-item  [todo] = "td" *ngFor="let td of todos"></app-to-do-item>
</div>

